.team-deck {
    flex-wrap: wrap;
}

.team-card {
    margin: 20px;
    padding: 20px;
    max-width: 300px;
    width: 100%;
    color: white;
    display: flex;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    border: none; 
}

header {
    color: #fff;
}

.jumbotron-header {
    background-color: #6A1152;
}

.team-header {
    background-color: #A01A7D;
    color: #fff;
}
